/* Estilos para el cuerpo de la página */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: red; /* Fondo rojo */
    padding: 10px 20px;   /* Espaciado interno */
    display: flex;        /* Mostrar elementos en línea */
    justify-content: center; /* Centrar contenido horizontalmente */
  }
  
  /* Estilos para el título de la barra de navegación */
  .navbar-title {
    margin: 0;
    color: white; /* Texto blanco */
  }
  





   /* Estilos para la barra de navegación */
   .footer {
    background-color: red; /* Fondo rojo */
    padding: 10px 20px;   /* Espaciado interno */
    display: flex;        /* Mostrar elementos en línea */
    justify-content: center; /* Centrar contenido horizontalmente */
  }
  
  /* Estilos para el título de la barra de navegación */
  .footer-title {
    margin: 0;
    color: white; /* Texto blanco */
  }

  
  